.card_container{
    width: 323px;
    max-height: 100%;
    margin: 40px;
    box-shadow: 0 3px 10px rgba(0, 0, 0, 0.2);
    display: flex;
    flex-direction: column; 
    border-radius: 8px;
}
.cardimg img{
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    object-fit: cover;
    cursor: pointer;
}
.card_container .cardtitle {
    font-weight: bold;
    font-size: 25px;
  }
  .card_container .overview {
    top: auto;
  }
  .cardtitle,.overview{
    text-align: left;
    padding: 3px 15px;
  }
  .mywishandrating{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1% 5%;
  }